<div class="status-wrapper">
    <div class="container">
      <div id="status-message"><a href="https://status.firstup.io" target="_blank"><span class="status-dot none"></span>Platform Status</a></div>
    </div>
  </div>
  
<header class="header">
  <div class="logo">
    <a class="logo-link" href="https://howto.socialchorus.com/hc/">
      <img src="{{logo_url}}" alt="{{t 'logo'}}">
    </a>
    <span class="version">Classic Studio</span>
    <!--<div class="header-link">
      <a href="https://howto.socialchorus.com/hc/en-us/">Knowledge Base</a>
  	</div>-->
  </div>

  <div class="nav-wrapper">
    <a class="hc_button" href="https://support.firstup.io">
    	Help Center
  	</a>
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      <!--<a href="https://status.socialchorus.com/" target="_blank">Status</a>
      {{link 'community'}}-->
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>
